body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f9;
}

.container {
  width: 80%;
  margin: auto;
  background-color: white;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

header {
  text-align: center;
}

h1 {
  font-size: 2.5em;
  color: #005f73;
}

.student-info {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.passport-photo {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin-right: 20px;
}

.details h2 {
  font-size: 1.5em;
  margin: 0;
}

.details p {
  font-size: 1.2em;
}

h3, h4 {
  color: #007f5f;
  text-align: center;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
}

table, th, td {
  border: 1px solid #ddd;
}

th, td {
  padding: 10px;
  text-align: center;
}

th {
  background-color: #007f5f;
  color: white;
}

tbody tr:nth-child(even) {
  background-color: #f2f2f2;
}
